@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Gruppo&family=Indie+Flower&family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  /*========== Colors ==========*/
  --first-color: hsl(231, 44%, 56%);
  --first-color-alt: hsl(231, 44%, 51%);
  --text-color: hsl(231, 12%, 98%);
  --body-color: hsl(231, 100%, 94%);
}
.home-wrap {
  margin-top: 0rem;
}

/* video heading geomanist */

.home-content {
  padding: 1rem 1rem;
  margin-bottom: 0;
}

.home-content .content-wrapper {
  display: flex;
  flex-direction: column;
}

.home-content .content-wrapper h6 {
  width: 50%;
  text-align: justify;
  padding: 2rem;
  line-height: 2rem;
}

.home-content .content-wrapper .inner-wrapper {
  display: flex;
  justify-content: flex-end;
}

.home-content .content-wrapper .inner-wrapper p {
  text-align: justify;
  line-height: 2rem;
  font-size: 1.1rem;
  width: 45%;
  float: inline-end;
  padding: 1.5rem;
  /* border: 1px solid black; */
}

.container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding-bottom: 10rem;
}

.card:nth-child(odd) {
  width: 93%;
  height: 25rem;
  margin-top: 4.5rem;
  display: flex;
  flex-direction: row;
  border: 0;
}

.card:nth-child(even) {
  width: 93%;
  height: 25rem;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: row;
  border: 0;
  margin-left: 6rem;
}

.card .content h3 {
  text-transform: capitalize;
}

.card:first-child {
  margin-top: 4rem;
}

.card:nth-child(odd) .img-wrap1 {
  width: 50%;
  height: 100%;
  /* border: 1px solid black; */
}

.card:nth-child(odd) .img-wrap1 img {
  height: 100%;
  width: 100%;
  padding: 0;
}

.card:nth-child(odd) .img-wrap2 {
  width: 50%;
  height: 100%;
  display: none;
  /* border: 1px solid black; */
}

.card:nth-child(odd) .img-wrap2 img {
  height: 100%;
  width: 100%;
  padding: 0;
  display: none;
}

.card:nth-child(even) .img-wrap1 {
  width: 50%;
  height: 100%;
  display: none;
  /* border: 1px solid black; */
}

.card:nth-child(even) .img-wrap1 img {
  height: 100%;
  width: 100%;
  padding: 0;
  display: none;
}

.card:nth-child(even) .img-wrap2 {
  width: 50%;
  height: 100%;
  display: block;
  /* border: 1px solid black; */
}

.card:nth-child(even) .img-wrap2 img {
  height: 100%;
  width: 100%;
  padding: 0;
  display: block;
}

.card:nth-child(odd) .content {
  width: 50%;
  height: 100%;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  margin-top: 1.5rem;
  background-color: rgb(242, 238, 233);
  /* border: 1px solid black; */
}

.card:nth-child(even) .content {
  width: 50%;
  height: 100%;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  margin-top: 1.5rem;
  background-color: rgb(242, 238, 233);

  /* border: 1px solid black; */
}

.card .content .button-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
  /* border: 1px solid black; */
}

.card .content .button-wrap div {
  width: 1rem;
  height: 1.5rem;
  margin-left: 1rem;
  /* border: 1px solid black; */
  animation: expand 4s infinite;
}

@keyframes expand {
  0% {
    width: 1rem;
  }

  50% {
    width: 3rem;
  }

  100% {
    width: 1rem;
  }
}

.card .content .button-wrap div img {
  width: 100%;
  height: 100%;
  padding: 0;
}

/* property-locations */

.property-locations {
  margin-top: 6rem;
  padding: 1rem;
  border: 2px solid black;
  margin-bottom: 0;
}

.property-locations .location-header {
  display: flex;
  justify-content: center;
}

.property-locations .dummy-border {
  width: 10%;
  margin: auto;
  border: 1px solid grey;
}

.property-locations .location-header div:first-child {
  /* border: 1px solid black; */
}

.property-locations .location-header h3 {
  margin-left: 1rem;
  color: black;
}

.property-locations .location-addresses {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
  /* border: 1px solid black; */
}

.property-locations .location-addresses .address-section {
  width: 17%;
  padding: 0.5rem;
}

.property-locations .location-addresses .address-section h6 {
  color: black;
  font-weight: 700;
}

.property-locations .location-addresses section div {
  width: 90%;
  border-collapse: collapse;
  border: 0.1px solid rgb(220, 218, 218);
}

.property-locations .location-addresses section p {
  padding: 0.2rem;
  color: black;
  font-weight: 500;
}

.modalbox {
  width: 30%;
  height: 60%;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: "translate(-50%, -50%)";
}

.modalbox div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0.5rem 1.5rem;
  background: linear-gradient(
    rgba(97, 205, 246, 1) 0%,
    rgba(137, 214, 238, 1) 0%,
    rgba(141, 194, 245, 1) 47%,
    rgba(95, 125, 242, 1) 100%
  );
}

.modalbox div input {
  padding: 0.2rem 1rem;
  outline: none;
}

.modalbox div button {
  background-color: #3376b0;
  color: white;
  font-weight: normal;
  padding: 3px 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.modalbox div button:hover {
  background-color: #00487a;
}

/* membership button */

.button__loader {
  border: none;
  outline: none;
  position: relative;
  padding: 1.25rem 2.5rem;
  background-color: var(--first-color);
  color: var(--text-color);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  box-shadow: 0 18px 40px hsla(148, 62%, 36%, 0.3);
  overflow: hidden;
  cursor: wait;
}

.button__loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: repeating-linear-gradient(
    60deg,
    transparent,
    transparent 0.75rem,
    var(--first-color-alt) 0.75rem,
    var(--first-color-alt) 1.5rem
  );
  animation: load 1s infinite linear;
}

.button__text {
  position: relative;
}

/* Loading button animation */
@keyframes load {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1.75rem);
  }
}
/* memebership buttons ends */

@media only screen and (max-width: 900px) {
  .home-wrap {
    margin-top: 8.1rem;
  }

  .home-content {
    padding: 1rem 1rem;
    margin-top: 15rem;
  }

  .home-content .content-wrapper {
    display: flex;
    flex-direction: column;
  }

  .home-content .content-wrapper h6 {
    width: 100%;
    text-align: justify;
    padding: 0;
    padding-right: 0rem;
    line-height: 2rem;
    font-size: 1rem;
    margin: auto;
    padding-left: 1rem;
  }

  .home-content .content-wrapper .inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 2rem;
  }

  .home-content .content-wrapper .inner-wrapper p {
    text-align: justify;
    line-height: 2rem;
    font-size: 1.1rem;
    width: 95%;
    float: inline-end;
    padding: 0rem;
    padding-right: 0rem;
    /* border: 1px solid black; */
    margin: auto;
  }

  .home-content .content-wrapper p:nth-child(2) {
    margin-top: 2rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;
    margin-top: 1rem;
  }

  .card:nth-child(odd) {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 0;
    margin-top: 3rem;
  }

  .card:nth-child(even) {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 0;
    margin: auto;
    margin-top: 3rem;
  }

  .card:first-child {
    margin-top: 2rem;
  }

  .card:nth-child(odd) .img-wrap1 {
    width: 90%;
    height: 100%;
    margin-right: 3rem;
    /* border: 1px solid black; */
  }

  .card:nth-child(odd) .img-wrap1 img {
    height: 100%;
    width: 100%;
    padding: 0;
  }

  .card:nth-child(odd) .img-wrap2 {
    width: 100%;
    height: 100%;
    display: none;
    /* border: 1px solid black; */
  }

  .card:nth-child(odd) .img-wrap2 img {
    height: 100%;
    width: 100%;
    padding: 0;
    display: none;
  }

  .card:nth-child(even) .img-wrap1 {
    width: 95%;
    height: 20rem;
    margin-left: 0rem;
    display: block;
    /* border: 1px solid black; */
  }

  .card:nth-child(even) .img-wrap1 img {
    height: 20rem;
    width: 100%;
    padding: 0;
    display: block;
  }

  .card:nth-child(even) .img-wrap2 {
    width: 100%;
    height: 100%;
    display: none;
    /* border: 1px solid black; */
  }

  .card:nth-child(even) .img-wrap2 img {
    height: 100%;
    width: 100%;
    padding: 0;
    display: none;
  }

  .card:nth-child(odd) .content {
    width: 90%;
    height: fit-content;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 0rem;
    margin-left: 2.5rem;
    background-color: rgb(243, 233, 221);
    /* border: 1px solid black; */
  }

  .card:nth-child(even) .content {
    width: 89%;
    height: fit-content;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
    background-color: rgb(243, 233, 221);
    /* border: 1px solid black; */
  }

  .card .content .button-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    /* border: 1px solid black; */
  }

  .card .content .button-wrap div {
    /* border: 1px solid black; */
    width: 2rem;
    height: 1.5rem;
    margin-left: 1rem;
  }

  .card .content .button-wrap div img {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  /* property-locations */

  .property-locations {
    margin-top: 6rem;
    margin-bottom: 0rem;
    /* border: 1px solid black; */
  }

  .property-locations .location-header {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .property-locations .dummy-border {
    width: 95%;
    margin: auto;
    border: 1px solid grey;
  }

  .property-locations .location-header div:first-child {
    /* border: 1px solid black; */
  }

  .property-locations .location-header h3 {
    margin-left: 1rem;
    color: black;
    text-align: center;
  }

  .property-locations .location-addresses {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2rem;
    /* border: 1px solid black; */
  }

  .property-locations .location-addresses .address-section {
    width: 90%;
    margin: auto;
    padding: 0.5rem;
    text-align: center;
    margin-top: 2rem;
  }

  .property-locations .location-addresses .address-section h6 {
    color: black;
  }

  .property-locations .location-addresses section div {
    width: 70%;
    border-collapse: collapse;
    margin: auto;
    border: 0.1px solid rgb(220, 218, 218);
  }

  .property-locations .location-addresses section p {
    padding: 0.2rem;
  }

  .modalbox {
    width: 80%;
    height: auto;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: "translate(-50%, -50%)";
  }

  .modalbox div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    background: linear-gradient(
      rgba(97, 205, 246, 1) 0%,
      rgba(137, 214, 238, 1) 0%,
      rgba(141, 194, 245, 1) 47%,
      rgba(95, 125, 242, 1) 100%
    );
  }

  .modalbox div input {
    padding: 0.2rem 1rem;
  }

  .modalbox div input::placeholder {
    text-align: center;
    letter-spacing: 5px;
  }

  .modalbox div button {
    color: white;
    font-weight: normal;
    padding: 3px 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
