* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 45rem;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.main video {
  object-fit: cover;
}

.home-text {
  position: absolute;
  top: 15%;
  left: 30%;
  transform: translate(-50%, 50%);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  padding: 2rem 2rem 1rem 2rem;
  /* border:1px solid red; */
  /* font-family: 'Satisfy', cursive;     */
}

.home-text h1 {
  font-size: 60px;
  text-shadow: 2px 2px 2px black;
  font-family: "Geomanist";
}

.home-text h4 {
  text-shadow: 2px 2px 2px black;
  font-family: "Geomanist";
}

.main .content-wrapper {
  /* border:1px solid black; */
  padding: 1rem 10rem;
  position: absolute;
  top: 46%;
}

.main .content-wrapper p {
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0rem 3rem;
  color: antiquewhite;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-family: "Nunito Sans", Arial, sans-serif;
}

/* desktop search filter box */
.home-search-box-desktop {
  position: absolute;
  top: 86%;
  left: 10%;
  width: 80%;
  height: 5rem;
  box-shadow: rgb(4, 4, 4) 0px 20px 20px -10px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: space-between;
  padding: 0px 25px;
}

.home-search-box-desktop .dates-wrap {
  display: flex;
  flex-direction: column;
  /* border: 1px solid white; */
  margin-top: 0.5rem;
}

.home-search-box-desktop .dates-wrap label {
  color: rgb(227, 227, 227);
  font-size: 1rem;
}

.home-search-box-desktop .dates-wrap .custom-date-input {
  background-color: transparent;
  text-transform: uppercase;
  padding-top: 0.5rem;
  color: white;
  border: 0;
  font-size: 0.8rem;
}

.home-search-box-desktop .select-btnwrap {
  display: flex;
  flex-direction: column;
  color: rgb(227, 227, 227);
  font-size: 1rem;
  margin-top: 0.5rem;
}

.home-search-box-desktop .select-btnwrap select {
  background-color: transparent;
  color: rgb(227, 227, 227);
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem 0.2rem 0.3rem;
}

.home-search-box-desktop .select-btnwrap select option {
  color: black;
}

.home-search-box-desktop div:last-child {
  cursor: pointer;
  height: fit-content;
  margin-top: 0.5rem;
  width: 11rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-family: "calibri";
  word-wrap: break-word;
  color: rgb(227, 227, 227);
  background-color: #033f91;
  box-shadow: 1px 1px 5px 1px rgb(32, 1, 104);
}

/* desktop search filter box ends */

.home-search-box {
  position: absolute;
  top: 56%;
  left: 30%;
  background-color: rgba(212, 230, 251, 0.7);
  width: 40%;
  height: 12rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: rgb(0, 0, 0) 0px 20px 20px -10px;
  display: none;
}

.home-search-box .row1 {
  display: flex;
  /* border: 1px solid black; */
  gap: 2rem;
}

.home-search-box .row1 div {
  display: flex;
  flex-direction: column;
  width: 35%;
  /* border: 1px solid black; */
}

.home-search-box .row1 div {
}

.home-search-box .row1 div label {
  padding: 0.5rem;
  font-weight: bold;
  color: black;
}

.home-search-box .row1 div input[type="date"] {
  height: 3rem;
  padding: 1rem;
  background-color: rgb(242, 238, 233);
  color: black;
  border: 1px solid grey;
  outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  /* Customize the calendar icon */
  background-image: url("../assets/calendar.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: azure;
}

.home-search-box .row1 div:last-child {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(243, 240, 236);
  color: black;
  cursor: pointer;
  font-size: 0.9rem;
}

.home-search-box .row1 div:last-child:hover {
  /* background-color: rgb(28, 28, 29); */
}

.home-search-box .row2 {
  height: 3rem;
  width: 100%;
  /* border:1px solid black; */
}

.home-search-box .row2 select {
  height: 100%;
  padding: 0.5rem;
  width: 100%;
  outline: none;
}

.home-search-box .row2 select option {
  font-weight: 400;
}

.home-search-box .row3 {
  display: none;
}

@media only screen and (max-width: 900px) {
  .main {
    width: 100%;
    height: 30rem;
    position: relative;
    margin-top: -50px;
  }

  .home-text {
    text-align: center;
    position: absolute;
    top: 2%;
    left: 2%;
    margin-top: 3rem;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    /* border: 1px solid red; */
    width: 100%;
    /* font-family: 'Satisfy', cursive;     */
  }

  .home-text h1 {
    font-size: 30px;
    text-align: center;
    width: 100%;
    /* border: 1px solid red; */
  }

  .home-text h4 {
    font-size: 1rem;
  }

  /* desktop search filter box */
  .home-search-box-desktop {
    display: none;
  }

  .home-search-box-desktop div {
    height: 70%;
    display: flex;
    margin: auto;
    gap: 1.5rem;
    display: none;
  }

  .home-search-box-desktop div div {
    /* border: 1px solid white; */
    display: none;
  }

  .home-search-box-desktop div div input {
    padding-left: 0.3rem;
    display: none;
  }

  .home-search-box-desktop div div:last-child {
    padding-top: 0.75rem;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 0.75rem 0.5rem;
    display: none;
  }

  .home-search-box {
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: rgba(212, 230, 251, 0.7);
    width: 100%;
    height: 13rem;
    padding: 0.1rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: rgb(0, 0, 0) 0px 20px 20px -10px;
    display: block;
    margin: auto;
  }

  .home-search-box .row1 {
    display: flex;
    /* border: 1px solid black; */
    gap: 0.1rem;
  }

  .home-search-box .row1 div {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border: 1px solid black; */
    margin-top: 0.1rem;
  }

  .home-search-box .row1 div {
  }

  .home-search-box .row1 div label {
    padding: 0.5rem;
    font-weight: bold;
    color: black;
    font-size: 0.7rem;
  }

  .home-search-box .row1 div input[type="date"] {
    width: 99.5%;
    height: 2.4rem;
    padding: 0.1rem 0.5rem;
    padding-right: 0.2rem;
    background-color: rgb(242, 238, 233);
    color: black;
    border: 1px solid grey;
    outline: none;
    margin-bottom: 0.5rem;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    /* Customize the calendar icon */
    background-image: url("../assets/calendar.png");
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .home-search-box .row1 div:last-child {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
    display: none;
  }

  .home-search-box .row1 div:last-child:hover {
    background-color: rgb(28, 28, 29);
  }

  .home-search-box .row2 {
    height: 2.5rem;
    width: 100%;
    /* border:1px solid black; */
  }

  .home-search-box .row2 select {
    height: 90%;
    padding: 0.2rem 1rem 0.1rem 0.5rem;
    width: 100%;
  }

  .home-search-box .row2 select option {
    font-weight: 500;
  }

  .home-search-box .row3 {
    display: block;
    width: 100%;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(242, 238, 233);
    color: black;
    border: 1px solid grey;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem;
    margin-top: 0rem;
  }
}
