/* .cards{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
} */

.property-card-container{
    /* width: 400px; */
    width: 22rem;
    box-sizing: content-box;
    /* padding-bottom: 3rem; */
    /* margin: auto;
    margin-top: 25px; */
    margin-left: 1.5rem;
    margin-top: 1rem;
    /* margin-right: 50px; */
    /* border: 1px solid #908f8f; */
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 12px;
}

#property-card-img{
    width: 100%;
}

#property-card-img>img{
    width: 22rem;
    height: 15rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -5px;
    /* border: 1px solid black; */
    padding: 0px;
    /* margin-top: 1.5rem; */
}

.card-footer{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px; 
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-top: 10px; */
}

.card-footer-lb>:nth-child(1){
    text-align: left;
    font-size: 16px;
}

.card-footer-lb>:nth-child(2){
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.card-footer-rb{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-direction: column;
    height: 90%;
}

.card-footer-rb>div:nth-child(1)>button{
    padding-top: 5px;
    width: 110px;
    height: 30px;
    font-size: 12px;
}

.card-footer-rb>div:nth-child(2)>button{
    background-color: #015a75; 
    color: #fff;
    padding-top: 5px;
    width: 110px;
    height: 30px;
    font-size: 12px;
}

.card-footer-rb>div:nth-child(2)>button{
    background-color: #28bae6;
}

.card-footer-rb>div:nth-child(2)>button:hover{
    background-color: #047598;
}

#property-card-add-btn{
    background-color: rgb(250, 199, 106);
    color: rgb(49, 49, 49);
}

#property-card-add-btn:hover{
    background-color:  orange;
}

#property-card-delete-btn{
    background-color: rgb(248, 69, 69);
}

#property-card-delete-btn:hover{
    background-color: rgb(255, 0, 0);
}

.properties-card-header{
    padding: 10px;
    /* background-color: #009fe1; */
    background: rgba(207, 229, 237, 0.5);
    /* width: 120px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.view-prop-card-details-btn{
    cursor: pointer;
    font-size: 13px;
}

.view-prop-card-details-btn:hover{
    text-shadow: 1px 1px 1px black;
}

.property-card-delete-icon{
    font-size: 16px;
    cursor: pointer;
}

.property-card-delete-icon:hover{
    color: red;
    /* text-shadow: 1px 1px 1px red; */
}

.custom-ui{
    background-color: #28bae6;
    color: #FFF;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.custom-ui>button{
    background-color: orange;
    color: #FFF;
    margin-top: 15px;
}

.custom-ui>button:hover{
    background-color: rgb(250, 0, 0);
}

@media screen and (max-width: 650px) {
    .property-card-container{
        width: 350px;
        /* height: 52rem; */
        box-sizing: content-box;
        /* padding-bottom: 3rem; */
        margin: auto;
        /* margin-top: 5rem; */
        /* border: 1px solid #908f8f; */
        border-radius: 12px;
    }
}

@media screen and (max-width: 480px) {
    .property-card-container{
        /* width: 295px; */
        /* width: 18rem; */
        max-width: 100%;
        /* height: 52rem; */
        box-sizing: content-box;
        /* padding-bottom: 3rem; */
        /* margin: auto; */
        margin-top: 5rem;
        /* border: 1px solid #908f8f; */
        border-radius: 12px;
    }

    .card-footer-lb>:nth-child(1){
        font-size: 13px;
    }
    
    .card-footer-lb>:nth-child(2){
        width: 100%;
        text-align: left;
        font-size: 15px;
        font-weight: 500;
    }

    .card-footer-rb>div:first-child>button, .card-footer-rb>div:nth-child(2)>button{
        padding: 0px;
        width: 100px;
        height: 30px;
        font-size: 11px;
    }

    .view-prop-card-details-btn{
        font-size: 15px;
    }

    .property-card-delete-icon{
         font-size: 16px;
        /* background: hsla(0,3%,94%,.373); */
    }
    .property-card-container{
        margin-top: 05px;
        margin-right: 0px;
        margin-left: 0px;
    }
    #property-card-img>img{
        width: 100%;
    }
}