.booking-list-container{
    margin-top: 100px;
}

.view-booking-table-head{
    position: fixed;
    background-color: #ffff;
}

.view-booking-table-body{
    margin-top: 2rem;
}

.booking-status{
    /* color: #4f5d73; */
    /* background-color: #f9b115; */
    font-size: 13px;
    font-weight: 700;
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;
    /* background-color: #2eb85c;
    background-color: #e55353;
    background-color: #ced2d8; */
}




.view-booking-show-btn{
    padding-top: 0px;
    /* padding: 15px; */
    height: 25px;
    width: fit-content;
    font-size: 15px;
    font-weight: 400;
    background-color: transparent;
    border-radius: 0px;
    color: #0d6efd;
    border: 1px solid #0d6efd;
}

.view-booking-show-btn:hover{
    background-color: #0d6efd;
    color: #ffff;
    border-radius: 0px;
}

.special-request-call-bell{
    color: #0d6efd;
    cursor: pointer;
}

.special-request-call-bell:hover{
    color: #002153;
}

.booking-list-container>div{
    display: flex;
    margin-bottom: 5rem;
}