.view-query-details{
    color: #0d6efd;
    background-color: transparent;
    border: 1px solid #0d6efd;
    padding: 5px 10px;
    border-radius: 0px;
    font-size: 13px;
}

.view-query-details:hover{
    color: #ffff;
    background-color: #0d6efd;
}